@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Maven Pro", "Noto Sans KR",sans-serif;
}



.d-flex {
	display: flex;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.align-center {
	align-items: center;
}
.align-self-center {
	align-self: center;
}
.container {
	max-width: 1000px;
}
.mx-auto {
	margin: 0 auto;
}


























